@import '../../../ui/vars.scss';

.leftbar {
    height: 100%;
    width: 100%;

    &__chatWrapper {
        padding: 25px 10px 25px 0;
        max-height: 65vh;
        height: 100%;
        min-height: 0;
        overflow: hidden;
        overflow-y: scroll;
    }

    &__chatHistory {
        margin: 5px 0;
        display: flex;
        align-items: center;
        grid-gap: 1vh;
        padding: 10px;
        cursor: pointer;


        &:hover {
            background-color: rgba($primary, .25);
        }

        &--text {
            height: 0.906rem;
            overflow: hidden;
        }
    }
}