$text: 'Roboto', sans-serif;
$title: 'Open Sans', sans-serif;
$op-ff: 'Open Sans', sans-serif;

$background-paper: #d8deee;
$background-default: #fff;

$primary-text: #fff;
$primary: #494db2;
$primary-disabled: #757d95;
$primary-light: #878bef;

$secondary: #232438;
$secondary-text: #fff;
$secondary-disabled: #757d95;

$caption-color: #7d838a;

$error: #e44848;